* {
    margin: 0;
    padding: 0;
    font-family: Arial,  helvetica, sans-serif;
    background-color:rgb(9, 10, 9); /* background color*/
    
}



header{
    padding-top: 5em;
    text-align: center;
    font-size: 30px;
    color:#20c997;
}

.divider::after {
    content: "";
    display: inline-block; 
    width: 5%; 
    height: 4px; 
    background-color: #20c997; 
    margin: 10px auto; 
}

nav{
    position: relative;
    width: 100%;
    top: 25px;;
    right: 25px;
    background-color: transparent;
}

#name{
    font-family:Brush Script, Lucida Handwriting, Pacifico;
    color: #20c997;
    font-size: 350%;;
    position: absolute;
    left: 80px;
    cursor: pointer;
    list-style: none;
}

.nav_container {
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    align-content: center;
}

.nav_item{
    padding-left: 30px;
    list-style: none;
    color: white;
    font-size:x-large
}


a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-family:  Helvetica, sans-serif;
    }

a:hover {
    color: #20c997;

}


.contact_form{
    color: white;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.input{
    border-bottom: 2px solid #20c997;
    margin: 1em;
    padding-top: 5px;
    width: 66%;
    font-size: medium;
}

.btn{
    background-color:#20c997;
    border-color: #20c997;
    color: white;
    margin: 2em;
    line-height:3em;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 25px;
    width:25em;
}

footer{
    position: relative;
    bottom: 0;
    color:white;
    padding: 30px;
    background-color: transparent
}

@media (max-width: 500px) {
    body, .nav_container {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
}